body{
    background-color: pink;
    color:darkslategray (249'244'253);
    margin:0%;
}
#header{
    text-align:center;
}
#header > div:first-child {
    background-color: blue;
    color:white;
    padding: 40px;
}

    .content{
        widht:80%;
        max-widht: 800px;
        margin:30px auto;
        background-color:bisque;
        padding:30px;
    }
.content h2 {
    color:darksalmon;
    border: bottom 20px solid
    padding-bottom: 5px;
}
.content h3{
    color:darkslategrey;
}
.content p {
    line-height: 1.6;
}
.content img{
    border-radius: 50%;
    object-fitt:cover;
}
.content a {
    color:gray
}
.content li {
    margin-bottom: 8px;
}
#footer {
    text-align: center;
    background-color:cadetblue;
    color:tomato;
    padding: 15px;
    margin-top: 30px;
}